:host {
}

:host.enabled {
	cursor: pointer;
}

:host.enabled:hover {
}

.guess-card {
	/* TODO: Convert to pixels. */
	width: 88px;
	height: 49px;
	border: 5px solid;
	border-radius: 8px;
	border-color: var(--card-color);
	background-color: white;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.guess-value {
	user-select: none;
}

.card-back {
	width: calc(100% - 7px);
	height: calc(100% - 7px);
	border-radius: 1px;
	background-color: var(--card-color);
}
