:host {
	--spec-icon-size: 60px;
	
	box-sizing: border-box;
	border-color: var(--player-color);
	background-color: white;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

:host.enabled {
	cursor: pointer;
}

.guess-value {
	user-select: none;
	
	display: inline-flex;
	align-items: center;
	justify-content: center;
	
	z-index: 1;
}

.spec-icon {
	position: absolute;
	
	height: var(--spec-icon-size);
	width: var(--spec-icon-size);
	font-size: var(--spec-icon-size);
	color: var(--player-color);
	
	text-align: center;
	
	z-index: 0;
}

.card-back {
	width: calc(100% - 7px);
	height: calc(100% - 7px);
	border-radius: 1px;
	background-color: var(--player-color);
}
