.guess-card {
	/* TODO: Convert to pixels. */
	width: 88px;
	height: 49px;
	border: 5px solid;
	border-radius: 8px;
	background-color: white;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.guess-value {
	user-select: none;
}
