<div mat-dialog-content class="content">
	<h1>Place Bet!</h1>
	<span class="available">Available Chips: <span class="available-chips">${{ getAvailableChips() }}</span></span>
	<mat-form-field class="wager">
		<mat-label>Wager:</mat-label>
		<input matInput
			[formControl]="wager"
			placeholder="Wager"
			inputmode="numeric" />
		@if (wager.hasError("insufficientChips")) {
			<mat-error>Insufficient chips.</mat-error>
		} @else {
			<mat-error>Must be a positive whole number.</mat-error>
		}
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-raised-button type="button" [mat-dialog-close]="undefined">Cancel</button>
	@if (data.existingWager) {
		<button mat-raised-button [mat-dialog-close]="0">Withdraw</button>
	}
	<button mat-raised-button [mat-dialog-close]="getWager()!" [disabled]="wager.invalid">Wager</button>
</div>
