:host {
	--board-primary: #266e26;
	--board-secondary: darkgreen;
	--black-space: #222;
	--red-space: red;
	--green-space: darkgreen;
	
	/* Scale the board to take up 95% of the screen. */
	zoom: calc(min(95cqw/(15px + 20px + 950px + 20px + 15px), 95cqh/(15px + 5px + 650px + 20px + 15px), 1.5));
}

.board {
	position: relative;
	height: 650px;
	width: 950px;
	border: 15px solid var(--board-secondary);
	border-radius: 20px;
	background: var(--board-primary);
	padding: 5px 20px 20px 20px;
	
	display: grid;
	/* grid-template:
		"HD  HD  HD  HD  HD  HD  HD  HD" 30px
		"QS  QS  QS  QS  QS  QS  QS  QS" 70px
		"ATH G0  G1  G2  G3  G4  G5  G6" 360px
		".   RD  RD  RD  .   BK  BK  BK" 70px
		"SB  SB  SB  SB  SB  SB  SB  SB" 80px /
		 75px 115px 115px 115px 115px 115px 115px 115px; */
	grid-template:
		"HD  HD  HD  HD  HD  HD  HD  HD" 30px
		"QS  QS  QS  QS  QS  QS  QS  QS" 70px
		"ATH G0  G1  G2  G3  G4  G5  G6" 5fr
		".   RD  RD  RD  .   BK  BK  BK" 1fr
		"SB  SB  SB  SB  SB  SB  SB  SB" 80px /
		 3fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr;
	gap: 10px;
}

.header {
	display: grid;
	grid-area: HD;
	align-items: center;
	
	grid-template:
		".   T   R   P   H" /
		 35% 20% 15% 10% 20%;
	
	color: white;
	font-size: 30px;
}

.timer {
	grid-area: T;
	display: flex;
	align-items: center;
	justify-content: left;
}

.timer-icon {
	font-size: 30px;
	height: 30px;
	width: 30px;
	text-align: center;
}

.timer-text {
	text-align: left;
}

.round {
	grid-area: R;
	text-align: left;
}

.phase {
	grid-area: P;
	text-align: left;
}

.help-button {
	grid-area: H;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background: none;
	border: none;
	cursor: pointer;
}

.help-icon {
	width: 32px;
	height: 32px;
	color: white;
	font-size: 32px;
}

.game-over {
	grid-column: 1 / span 5;
	text-align: center;
}

.question-box {
	grid-area: QS;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background: var(--board-secondary);
	border-radius: 9px;
}

.question {
	font-size: 20px;
	color: white;
	text-align: center;
}

.source {
	font-size: 14px;
	color: gray
}

.all-too-high-box {
	grid-area: ATH;
}

.all-too-high-text {
	grid-area: ATH;
	
	writing-mode: sideways-lr;
	color: white;
	font-size: 22px;
	user-select: none;
	
	text-shadow:
		1px 1px black,
		1px -1px black,
		-1px 1px black,
		-1px -1px black;
}

.guess0-box {
	grid-area: G0;
}

.guess1-box {
	grid-area: G1;
}

.guess2-box {
	grid-area: G2;
}

.guess3-box {
	grid-area: G3;
}

.guess4-box {
	grid-area: G4;
}

.guess5-box {
	grid-area: G5;
}

.guess6-box {
	grid-area: G6;
}

.red-box {
	grid-area: RD;
}

.black-box {
	grid-area: BK;
}

.payoff {
	font-size: 18pt;
	color: white;
	white-space: preserve;
	user-select: none;
	
	display: flex;
	align-items: center;
	
	text-shadow:
		1px 1px black,
		1px -1px black,
		-1px 1px black,
		-1px -1px black;
}

.payoff-to {
	font-size: 14pt;
	font-variant: petite-caps;
}

.score-board {
	grid-area: SB;
	
	background: var(--green-space);
	border-radius: 9px;
}

.guess-card {
	align-self: center;
	justify-self: center;
}

.guess-card2 {
	position: absolute;
	top: 50%;
	left: 50%;
}

.game-state {
	background: #eee;
	padding: 1rem;
	font-family: monospace;
	word-break: auto-phrase;
	white-space: preserve nowrap;
	text-align: start;
	overflow-x: scroll;
}
