<div #board class="board">
	<div class="header">
		<span class="home-span">
			<a class="home-button"
					routerLink="/"
					routerLinkActive="active"
					#tooltip="matTooltip"
					matTooltip="Home">
				<mat-icon class="home-icon">home</mat-icon>
			</a>
		</span>
		@if (!isGameOverPhase()) {
			<span class="round">
				{{ getRound() }}:
				@if (isHost()) {
					<button class="skip-span skip-button" (click)="onSkipPhaseClick()">
						{{ getPhase() }}
						<mat-icon class="skip-icon">skip_next</mat-icon>
					</button>
				} @else {
					<span class="skip-span">{{ getPhase() }}</span>
				}
			</span>
			<span class="timer"
					[style.visibility]="roundTimer() !== undefined ? 'visible' : 'hidden'">
				<mat-icon class="timer-icon">timer</mat-icon>
				{{ roundTimer() || "" }}
			</span>
			<span class="help-span">
				<button class="help-button"
						#tooltip="matTooltip"
						matTooltip="Instructions"
						(click)="onHelpClick()">
					<mat-icon class="help-icon">help_outline</mat-icon>
				</button>
			</span>
		} @else {
			<span class="game-over">Game Over!</span>
		}
	</div>
	<div class="question-box">
		<span class="question">{{ getQuestion() }}</span>
		<span class="source">{{ getSource() }}</span>
	</div>
	<desktop-all-too-high-box
			class="all-too-high-box"
			color="var(--green-space)"
			[disabled]="!shouldEnableBetTarget('AllTooHigh')"
			[bets]="getBetsOnTarget('AllTooHigh')"
			(onClick)="onWagerBoxClick('AllTooHigh')">
		<wager-box-bg-text class="all-too-high-text">
			ALL GUESSES TOO HIGH
		</wager-box-bg-text>
		<wager-box-bottom-text class="payoff">6 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</desktop-all-too-high-box>
	<desktop-betting-box
			class="guess0-box"
			color="var(--red-space)"
			[disabled]="!shouldEnableBetTarget(0)"
			[bets]="getBetsOnTarget(0)"
			(onClick)="onWagerBoxClick(0)">
		@if (getGuessForTarget(0); as guess) {
			<guess-card class="guess-card" [data]="guess" />
		}
		<wager-box-bottom-text class="payoff">5 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</desktop-betting-box>
	<desktop-betting-box
			class="guess1-box"
			color="var(--red-space)"
			[disabled]="!shouldEnableBetTarget(1)"
			[bets]="getBetsOnTarget(1)"
			(onClick)="onWagerBoxClick(1)">
		@if (getGuessForTarget(1); as guess) {
			<guess-card class="guess-card" [data]="guess" />
		}
		<wager-box-bottom-text class="payoff">4 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</desktop-betting-box>
	<desktop-betting-box
			class="guess2-box"
			color="var(--red-space)"
			[disabled]="!shouldEnableBetTarget(2)"
			[bets]="getBetsOnTarget(2)"
			(onClick)="onWagerBoxClick(2)">
		@if (getGuessForTarget(2); as guess) {
			<guess-card class="guess-card" [data]="guess" />
		}
		<wager-box-bottom-text class="payoff">3 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</desktop-betting-box>
	<desktop-betting-box
			class="guess3-box"
			color="var(--green-space)"
			[disabled]="!shouldEnableBetTarget(3)"
			[bets]="getBetsOnTarget(3)"
			(onClick)="onWagerBoxClick(3)">
		@if (getGuessForTarget(3); as guess) {
			<guess-card class="guess-card" [data]="guess" />
		}
		<wager-box-bottom-text class="payoff">2 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</desktop-betting-box>
	<desktop-betting-box
			class="guess4-box"
			color="var(--black-space)"
			[disabled]="!shouldEnableBetTarget(4)"
			[bets]="getBetsOnTarget(4)"
			(onClick)="onWagerBoxClick(4)">
		@if (getGuessForTarget(4); as guess) {
			<guess-card class="guess-card" [data]="guess" />
		}
		<wager-box-bottom-text class="payoff">3 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</desktop-betting-box>
	<desktop-betting-box
			class="guess5-box"
			color="var(--black-space)"
			[disabled]="!shouldEnableBetTarget(5)"
			[bets]="getBetsOnTarget(5)"
			(onClick)="onWagerBoxClick(5)">
		@if (getGuessForTarget(5); as guess) {
			<guess-card class="guess-card" [data]="guess" />
		}
		<wager-box-bottom-text class="payoff">4 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</desktop-betting-box>
	<desktop-betting-box
			class="guess6-box"
			color="var(--black-space)"
			[disabled]="!shouldEnableBetTarget(6)"
			[bets]="getBetsOnTarget(6)"
			(onClick)="onWagerBoxClick(6)">
		@if (getGuessForTarget(6); as guess) {
			<guess-card class="guess-card" [data]="guess" />
		}
		<wager-box-bottom-text class="payoff">5 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</desktop-betting-box>
	<desktop-color-wager-box
			class="red-box"
			color="var(--red-space)"
			[disabled]="!shouldEnableBetTarget('Red')"
			[bets]="getBetsOnTarget('Red')"
			(onClick)="onWagerBoxClick('Red')">
		<wager-box-bg-text class="payoff">RED 1 <span class="payoff-to">to</span> 1</wager-box-bg-text>
	</desktop-color-wager-box>
	<desktop-color-wager-box
			class="black-box"
			color="var(--black-space)"
			[disabled]="!shouldEnableBetTarget('Black')"
			[bets]="getBetsOnTarget('Black')"
			(onClick)="onWagerBoxClick('Black')">
		<wager-box-bg-text class="payoff">BLACK 1 <span class="payoff-to">to</span> 1</wager-box-bg-text>
	</desktop-color-wager-box>
	<score-board desktop class="score-board"
		[players]="getPlayersForScore()"
		(onMutation)="onScoreboardResize($event)"
		[mutationConfig]="{childList: true}" />
	@for (cardData of guessCards(); track $index) {
		@if (cardData) {
			<guess-card class="guess-card2"
				[data]="cardData"
				[style.transform]="getCardPosition($index)"
				[disabled]="typeof(cardData.value) !== 'number'"
				(onClick)="onGuessCardClick()" />
		}
	}
</div>
