<div mat-dialog-content class="content">
	<span class="instructions">Enter Your Guess:</span>
	<mat-form-field class="guess">
		<input matInput
			[formControl]="guess"
			placeholder="Guess"
			inputmode="numeric"
			maxlength="50"
			guessValidator />
		@if (guess.hasError("notAPositiveWholeNumber")) {
			<mat-error>Guess must be a positive whole number.</mat-error>
		}
	</mat-form-field>
</div>
<div mat-dialog-actions>
	@if (currentGuess !== undefined) {
		<button mat-raised-button [mat-dialog-close]="undefined">Cancel</button>
		<button mat-raised-button [mat-dialog-close]="withdraw()">Withdraw</button>
	}
	<button mat-raised-button [mat-dialog-close]="getGuess()!" [disabled]="guess.invalid">Submit</button>
</div>
