<h1 mat-dialog-title>Question:</h1>
<div mat-dialog-content class="content">
	<span class="question">{{ question }}</span>
	<span class="source" [style.visibility]="source ? 'visible' : 'hidden'">
		Source: {{ getSource() }}
	</span>
	<mat-form-field class="guess">
		<input matInput
			#guessField="ngModel"
			placeholder="Guess"
			inputmode="numeric"
			guessValidator
			[(ngModel)]="guess" />
		@if (guessField.hasError("notANumber")) {
			<mat-error>Guess must be a number.</mat-error>
		}
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-raised-button [mat-dialog-close]="getGuess()!" [disabled]="!guessField.valid">Submit</button>
</div>
