<div mat-dialog-content class="content">
	<span class="instructions">Enter Your Guess:</span>
	<mat-form-field class="guess">
		<input matInput
			#guessField="ngModel"
			placeholder="Guess"
			inputmode="numeric"
			guessValidator
			[(ngModel)]="guess" />
		@if (guessField.hasError("notANumber")) {
			<mat-error>Guess must be a number.</mat-error>
		}
	</mat-form-field>
</div>
<div mat-dialog-actions>
	@if (currentGuess !== undefined) {
		<button mat-raised-button [mat-dialog-close]="undefined">Cancel</button>
	}
	<button mat-raised-button [mat-dialog-close]="getGuess()!" [disabled]="!guessField.valid">Submit</button>
</div>
