:host {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}

:host.desktop {
	--name-max-font-size: 14px;
	--name-height: 17px;
	--chips-max-font-size: 16px;
	--chips-height: 19px;
	--icon-size: 44px;
	--icon-margin: -5px;
}

:host.mobile {
	--name-max-font-size: 24px;
	--name-height: 30px;
	--chips-max-font-size: 28px;
	--chips-height: 34px;
	--icon-size: 80px;
	--icon-margin: -10px;
}

.player {
	width: 100px;
	max-height: 120px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	
	color: white;
}

.name {
	height: var(--name-height);
	
	--max-font-size: var(--name-max-font-size);
	font-size: var(--max-font-size);
	
	display: inline-flex;
	align-items: center;
}

.chips {
	height: var(--chips-height);
	
	--max-font-size: var(--chips-max-font-size);
	font-size: var(--max-font-size);
	
	display: inline-flex;
	align-items: center;
}

.icon {
	width: var(--icon-size);
	height: var(--icon-size);
	font-size: var(--icon-size);
	margin: var(--icon-margin);
	
	text-shadow:
		1px 1px black,
		1px -1px black,
		-1px 1px black,
		-1px -1px black;
}
