@for (player of players(); track player.color) {
	<div class="player">
		<mat-icon class="icon" [style.color]="player.color ?? 'white'">
			{{ player.color ? "person" : "visibility" }}
		</mat-icon>
		<span #name class="name"
				[fittext]="true"
				[modelToWatch]="player"
				[maxFontSize]="maxFontSize(name)">
			{{ player.name }}
		</span>
		<span #chips class="chips"
				[fittext]="true"
				[modelToWatch]="player"
				[maxFontSize]="maxFontSize(chips)">
			${{ player.chips }}
		</span>
	</div>
}
