@use "color-box.scss";

.lobby {
	width: 400px;
}

.contents {
	display: flex;
	flex-direction: column;
}

.lobby-ids {
	display: flex;
	flex-direction: row;
}

.lobby-id {
	width: 50%;
	text-align: center;
	
	font-size: 18px;
	font-weight: bold;
}

.participants {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.player-column {
	flex: 1;
}

.player {
	display: flex;
	align-items: center;
	
	height: 50px;
}

.color-box-container {
	width: 40px;
	height: 40px;
	margin: 5px 5px 5px 0;
	
	align-content: center;
	justify-content: center;
}

.host-action-button {
	width: 40px;
	height: 40px;
	margin: 5px 5px 5px 0;
}

.color-picker {
	display: flex;
	flex-wrap: wrap;
	width: 153px;
	border: solid 1px #cccccc;
	gap: 4px;
	border-radius: 5px;
	background: #ffffff;
	padding: 10px;
	margin: 0;
	position: relative;
	z-index: 0;
}

.lobby-actions {
	gap: 10px;
}
