.host-action-button {
	margin: 5px 5px 5px 0;
}

.color-box {
	width: 25px;
	height: 25px;
	border-width: thin;
	border-style: solid;
	margin: 5px 5px 5px 0;
}

.color-picker {
	width: 100px;
	border: solid 1px #cccccc;
	border-radius: 5px;
	background: #ffffff;
	text-align: center;
	padding: 10px;
	margin: 0;
}
