@let lobby = lobbyState();

<mat-card class="lobby">
	<mat-card-header>
		<h1>{{ lobby.title }}</h1>
	</mat-card-header>
	<mat-card-content>
		<div class="contents">
			@if (lobby.hostInformation) {
				<div class="lobby-ids">
					<span class="lobby-id">Join: {{ lobby.hostInformation.lobbyId }}</span>
					<span class="lobby-id">Spectate: {{lobby.hostInformation.spectatorId }}</span>
				</div>
			}
			<div class="participants">
				<player-list
					[lobbyService]="lobbyService().get()"
					[participants]="lobby.players"
					[thisParticipant]="thisParticipant().publicId"
					[type]="'players'"
					[host]="lobby.host">
				</player-list>
				@if (lobby.spectators.length > 0) {
					<div class="divider"></div>
					<player-list
						[lobbyService]="lobbyService().get()"
						[participants]="lobby.spectators"
						[thisParticipant]="thisParticipant().publicId"
						[type]="'spectators'"
						[host]="lobby.host"
						[disableMove]="isLobbyFull()">
					</player-list>
				}
			</div>
		</div>
	</mat-card-content>
	<mat-card-actions class="lobby-actions">
		@if (isThisPlayerHost()) {
			<button mat-raised-button (click)="onBeginGame()">Begin Game</button>
			<button mat-raised-button (click)="onCancelLobby()">Cancel</button>
		}
	</mat-card-actions>
</mat-card>
