@use "color-box.scss";


.host-action-button {
	margin: 5px 5px 5px 0;
}

.color-picker {
	display: flex;
	flex-wrap: wrap;
	width: 153px;
	border: solid 1px #cccccc;
	gap: 3px;
	border-radius: 5px;
	background: #ffffff;
	padding: 10px;
	margin: 0;
	position: relative;
	z-index: 0;
}
