.lobby {
	width: 100svw;
	max-width: 800px;
}

.contents {
	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.lobby-ids {
	display: flex;
	flex-direction: row;
	
	width: 100%;
}

.lobby-id {
	width: 50%;
	text-align: center;
	
	font-size: 18px;
	font-weight: bold;
}

.participants {
	display: flex;
	flex-flow: row wrap;
	row-gap: default;
}

.list-container {
	width: calc(50% - 1px);
	min-width: 283px;
}

player-list {
	width: 363px;
	margin: 10px;
}

.divider {
	border: 1px inset;
	
	/* This trick borrowed from:
	 * https://stackoverflow.com/questions/72161749/how-to-handle-separators-with-dynamic-flex-wrapping
	 */
	width: clamp(0px, calc(437px - 100%) * 436, 100%);
}

.lobby-actions {
	gap: 10px;
}
