<mat-card style="max-width: 400px;">
	<mat-card-header>
		<h1>{{ lobby().title }}</h1>
	</mat-card-header>
	<mat-card-content>
		<div style="display: flex">
			<div style="flex: 1">
				<h3>Players</h3>
				@for (player of lobby().players; track player.publicId) {
					<div style="display: flex; align-items: center">
						@if (isThisPlayerHost()) {
							<button
								class="host-action-button"
								#tooltip="matTooltip"
								matTooltip="Kick from lobby"
								mat-mini-fab
								(click)="kickPlayer(player.publicId)">
								<mat-icon>close</mat-icon>
							</button>
							<button
								class="host-action-button"
								#tooltip="matTooltip"
								matTooltip="Move to spectators"
								mat-mini-fab
								(click)="moveToSpectators(player.publicId)">
								<mat-icon>visibility</mat-icon>
							</button>
						}
						@if (isThisPlayerHost() || player.publicId === thisParticipant().publicId) {
							<button
								class="host-action-button"
								#tooltip="matTooltip"
								matTooltip="Change color"
								(click)="isOpen = !isOpen"
								cdkOverlayOrigin
								#trigger="cdkOverlayOrigin"
								mat-mini-fab>
								<div class="color-box" [style.background-color]="player.color"></div>
							</button>
							<ng-template
								style="width: 200px"
								cdkConnectedOverlay
								[cdkConnectedOverlayOrigin]="trigger"
								[cdkConnectedOverlayOpen]="isOpen"
								(overlayOutsideClick)="isOpen = false"
								(detach)="isOpen = false">
								<div class="color-picker" style="display: flex; flex-wrap: wrap; width: 160px">
									@for (color of COLORS; track $index) {
										<button mat-icon-button (click)="setColor(player.publicId, color); isOpen = false">
											<div class="color-box" [style.background-color]="color"></div>
										</button>
									}
								</div>
							</ng-template>
						} @else {
							<div class="color-box" [style.background-color]="player.color"></div>
						}
						<p>{{ player.name + (player.publicId === lobby().host ? " (host)" : "") }}</p>
					</div>
				}
			</div>
			@if (lobby().spectators.length > 0) {
				<div style="flex: 1">
					<h3>Spectators</h3>
					@for (spectator of lobby().spectators; track spectator.publicId) {
						<div style="display: flex; align-items: center">
							@if (isThisPlayerHost()) {
								<button
									class="host-action-button"
									#tooltip="matTooltip"
									matTooltip="Kick from lobby"
									mat-mini-fab
									(click)="kickPlayer(spectator.publicId)">
									<mat-icon>close</mat-icon>
								</button>
								<button
									class="host-action-button"
									matTooltip="Move to players"
									mat-mini-fab
									(click)="moveToPlayers(spectator.publicId)">
									<mat-icon>person</mat-icon>
								</button>
							}
						<p>{{ spectator.name + (spectator.publicId === lobby().host ? " (host)" : "") }}</p>
						</div>
					}
				</div>
			}
		</div>
	</mat-card-content>
	<mat-card-actions>
		@if (isThisPlayerHost()) {
			<button mat-raised-button (click)="onBeginGame()">Begin Game</button>
			<button mat-raised-button (click)="onCancelLobby()">Cancel</button>
		}
	</mat-card-actions>
</mat-card>
