:host {
	position: absolute;
}

.bet-chip {
	position: absolute;
	width: 38px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: 5px dashed;
	outline: 1px solid black;
	background-color: white;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.bet-chip-inner {
	width: 95%;
	height: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bet-quantity {
	user-select: none;
}
