@let phase = game().phase;

<div class="board">
	<all-too-high-box
		payoff="6"
		color="var(--green-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick('AllTooHigh')"
		[bets]="getBetsOnTarget('AllTooHigh')" />
	<betting-box
		payoff="5"
		color="var(--red-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick(0)"
		[bets]="getBetsOnTarget(0)" />
	<betting-box
		payoff="4"
		color="var(--red-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick(1)"
		[bets]="getBetsOnTarget(1)" />
	<betting-box
		payoff="3"
		color="var(--red-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick(2)"
		[bets]="getBetsOnTarget(2)" />
	<betting-box
		payoff="2"
		color="var(--green-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick(3)"
		[guess]="testGuess()"
		[bets]="getBetsOnTarget(3)" />
	<betting-box
		payoff="3"
		color="var(--black-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick(4)"
		[bets]="getBetsOnTarget(4)" />
	<betting-box
		payoff="4"
		color="var(--black-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick(5)"
		[bets]="getBetsOnTarget(5)" />
	<betting-box
		payoff="5"
		color="var(--black-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick(6)"
		[bets]="getBetsOnTarget(6)" />
	<color-wager-box
		class="red-bet"
		payoff="1"
		color="var(--red-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick('Red')"
		[bets]="getBetsOnTarget('Red')" />
	<color-wager-box
		class="black-bet"
		payoff="1"
		color="var(--black-space)"
		[disabled]="!isBettingPhase(phase)"
		(onClick)="onWagerBoxClick('Black')"
		[bets]="getBetsOnTarget('Black')" />
</div>
<div style="display: flex; justify-content: center">
	<mat-card style="max-width: 400px;">
		<mat-card-header>
			<h1>{{ game().title }}</h1>
		</mat-card-header>
		<mat-card-content>
			@if (roundTimer() !== undefined) {
				<p>Round time: {{ roundTimer() }}</p>
			}
			<p class="game-state">Game state: {{ tempGameString() }}</p>
			@if (isQuestionPhase(phase) && isParticipantPlayer(game().players, thisParticipant())) {
				<mat-form-field hidden="!isQuestionPhase(phase)">
					<mat-label>Guess:</mat-label>
					<input matInput
						#guessField="ngModel"
						placeholder="Guess"
						inputmode="numeric"
						pattern="[1-9][0-9]*"
						guessValidator
						[(ngModel)]="guess" />
					<mat-error>Guess must be a positive integer.</mat-error>
				</mat-form-field>
			}
			@if (isBettingPhase(phase)) {
				<mat-form-field>
					<mat-label>Target:</mat-label>
					<input matInput
						#targetField="ngModel"
						placeholder="Target"
						type="text"
						[targetValidator]="phase.guesses.length"
						[(ngModel)]="target" />
					<mat-error>Target must be "Red", "Black", "AllTooHigh", or 0-{{ phase.guesses.length-1 }}.</mat-error>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Wager:</mat-label>
					<input matInput
						#wagerField="ngModel"
						placeholder="Wager"
						inputmode="numeric"
						[chipValidator]="availableChips()"
						[(ngModel)]="wager" />
					@if (wagerField.hasError("insufficientChips")) {
						<mat-error>Insufficient chips. {{ availableChips() }} chips available.</mat-error>
					} @else {
						<mat-error>Wager must be a positive integer.</mat-error>
					}
				</mat-form-field>
			}
		</mat-card-content>
		<mat-card-actions>
			@if (isQuestionPhase(phase) && isParticipantPlayer(game().players, thisParticipant())) {
				<button mat-raised-button
						(click)="onSubmitGuess()"
						[disabled]="!guessField()?.valid"
						style="margin-right: 8px">
					Submit Guess
				</button>
			}
			@if (isBettingPhase(phase)) {
				<button mat-raised-button
						(click)="onSubmitBet()"
						[disabled]="!targetField()?.valid || !wagerField()?.valid"
						style="margin-right: 8px">
					Submit Bet
				</button>
				<button mat-raised-button
						(click)="onWithdrawBet()"
						[disabled]="!targetField()?.valid"
						style="margin-right: 8px">
					Withdraw Bet
				</button>
			}
			@if (!isGameOverPhase(phase) && game().host === thisParticipant().publicId) {
				<button mat-raised-button
						(click)="onEndPhase()"
						style="margin-right: 8px">
					End Phase
				</button>
			}
		</mat-card-actions>
	</mat-card>
</div>
