.board {
	/* border: 2px solid black; */
	height: 450px;
	width: 800px;
	background: #266e26;
	border-radius: 15px;
	display: grid;
	grid-template-columns: 1fr repeat(7, 2fr);
	grid-template-rows: 4fr 1fr;
	padding: 20px;
	gap: 10px;
}

.all-too-high {
	width: 100%;
	height: 100%;
	border: 2px solid black;
	border-radius: 10px;
	background: darkgreen;
}

.betting-box {
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid black;
	border-radius: 10px;
	/* box-shadow: 0 0 0 5px white; */
	background: red;
	z-index: 10;
}

.red-box {
	width: 100%;
	height: 100%;
	border: 2px solid black;
	border-radius: 10px;
	background: red;
	grid-column: 2 / 5;
}

.black-box {
	width: 100%;
	height: 100%;
	border: 2px solid black;
	border-radius: 10px;
	background: black;
	grid-column: 6 / 9;
}

.game-state {
	background: #eee;
	padding: 1rem;
	font-family: monospace;
	word-break: auto-phrase;
	white-space: preserve nowrap;
	text-align: start;
	overflow-x: scroll;
}
