:host {
	--board-primary: #266e26;
	--board-secondary: darkgreen;
	--black-space: #222;
	--red-space: red;
	--green-space: darkgreen;
}

.board {
	position: relative;
	height: 650px;
	width: 950px;
	border: 15px solid var(--board-secondary);
	border-radius: 20px;
	background: var(--board-primary);
	padding: 0px 20px 20px 20px;
	
	display: grid;
	grid-template-columns: 3fr repeat(7, 5fr);
	grid-template-rows: 30px 70px 5fr 1fr 80px;
	gap: 10px;
	
	zoom: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	grid-column: 1 / 9;
	
	color: white;
	font-size: 30px;
}

.round {
	width: 50%;
	padding-right: 6%;
	box-sizing: border-box;
	
	text-align: right;
}

.timer {
	width: 50%;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.timer-icon {
	font-size: 30px;
	height: 30px;
	width: 20%;
	text-align: right;
}

.timer-text {
	width: 80%;
	text-align: left;
}

.game-over {
	width: 100%;
	text-align: center;
}

.question-box {
	grid-column: 1 / 9;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background: var(--board-secondary);
	border-radius: 9px;
}

.question {
	font-size: 20px;
	color: white;
}

.source {
	font-size: 14px;
	color: gray
}

.all-too-high-text {
	writing-mode: sideways-lr;
	color: white;
	font-size: 22px;
	user-select: none;
	
	text-shadow:
		1px 1px black,
		1px -1px black,
		-1px 1px black,
		-1px -1px black;
}

.red-bet {
	grid-column: 2 / 5;
}

.black-bet {
	grid-column: 6 / 9;
}

.payoff {
	font-size: 18pt;
	color: white;
	white-space: preserve;
	user-select: none;
	
	display: flex;
	align-items: center;
	
	text-shadow:
		1px 1px black,
		1px -1px black,
		-1px 1px black,
		-1px -1px black;
}

.payoff-to {
	font-size: 14pt;
	font-variant: petite-caps;
}

.score-board {
	grid-column: 1 / 9;
	
	background: var(--green-space);
	border-radius: 9px;
}

.guess-card {
	align-self: center;
	justify-self: center;
}

.guess-card2 {
	position: absolute;
	top: 50%;
	left: 50%;
}

.game-state {
	background: #eee;
	padding: 1rem;
	font-family: monospace;
	word-break: auto-phrase;
	white-space: preserve nowrap;
	text-align: start;
	overflow-x: scroll;
}
