@let phase = game().phase;

<div class="board">
	<div class="header">
		<span class="round">{{ getRound() }}</span>
		<span class="timer"
				[style.visibility]="roundTimer() !== undefined ? 'visible' : 'hidden'">
			<mat-icon class="timer-icon">timer</mat-icon>
			<span class="timer-text">{{ roundTimer() || "" }}</span>
		</span>
	</div>
	<all-too-high-box
			color="var(--green-space)"
			[disabled]="!enableBetTarget('AllTooHigh')"
			(onClick)="onWagerBoxClick('AllTooHigh')"
			[bets]="getBetsOnTarget('AllTooHigh')">
		<wager-box-bg-text class="all-too-high-text">
			ALL GUESSES TOO HIGH
		</wager-box-bg-text>
		<wager-box-bottom-text class="payoff">6 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</all-too-high-box>
	<betting-box
			color="var(--red-space)"
			[disabled]="!enableBetTarget(0)"
			(onClick)="onWagerBoxClick(0)"
			[guess]="getGuessForTarget(0)"
			[bets]="getBetsOnTarget(0)">
		<wager-box-bottom-text class="payoff">5 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</betting-box>
	<betting-box
			color="var(--red-space)"
			[disabled]="!enableBetTarget(1)"
			(onClick)="onWagerBoxClick(1)"
			[guess]="getGuessForTarget(1)"
			[bets]="getBetsOnTarget(1)">
		<wager-box-bottom-text class="payoff">4 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</betting-box>
	<betting-box
			color="var(--red-space)"
			[disabled]="!enableBetTarget(2)"
			(onClick)="onWagerBoxClick(2)"
			[guess]="getGuessForTarget(2)"
			[bets]="getBetsOnTarget(2)">
		<wager-box-bottom-text class="payoff">3 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</betting-box>
	<betting-box
			color="var(--green-space)"
			[disabled]="!enableBetTarget(3)"
			(onClick)="onWagerBoxClick(3)"
			[guess]="getGuessForTarget(3)"
			[bets]="getBetsOnTarget(3)">
		<wager-box-bottom-text class="payoff">2 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</betting-box>
	<betting-box
			color="var(--black-space)"
			[disabled]="!enableBetTarget(4)"
			(onClick)="onWagerBoxClick(4)"
			[guess]="getGuessForTarget(4)"
			[bets]="getBetsOnTarget(4)">
		<wager-box-bottom-text class="payoff">3 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</betting-box>
	<betting-box
			color="var(--black-space)"
			[disabled]="!enableBetTarget(5)"
			(onClick)="onWagerBoxClick(5)"
			[guess]="getGuessForTarget(5)"
			[bets]="getBetsOnTarget(5)">
		<wager-box-bottom-text class="payoff">4 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</betting-box>
	<betting-box
			color="var(--black-space)"
			[disabled]="!enableBetTarget(6)"
			(onClick)="onWagerBoxClick(6)"
			[guess]="getGuessForTarget(6)"
			[bets]="getBetsOnTarget(6)">
		<wager-box-bottom-text class="payoff">5 <span class="payoff-to">to</span> 1</wager-box-bottom-text>
	</betting-box>
	<color-wager-box
			class="red-bet"
			color="var(--red-space)"
			[disabled]="!enableBetTarget('Red')"
			(onClick)="onWagerBoxClick('Red')"
			[bets]="getBetsOnTarget('Red')">
		<wager-box-bg-text class="payoff">RED 1 <span class="payoff-to">to</span> 1</wager-box-bg-text>
	</color-wager-box>
	<color-wager-box
			class="black-bet"
			color="var(--black-space)"
			[disabled]="!enableBetTarget('Black')"
			(onClick)="onWagerBoxClick('Black')"
			[bets]="getBetsOnTarget('Black')">
		<wager-box-bg-text class="payoff">BLACK 1 <span class="payoff-to">to</span> 1</wager-box-bg-text>
	</color-wager-box>
</div>
<div style="display: flex; justify-content: center">
	<mat-card style="max-width: 400px;">
		<mat-card-header>
			<h1>{{ game().title }}</h1>
		</mat-card-header>
		<mat-card-content>
			@if (roundTimer() !== undefined) {
				<p>Round time: {{ roundTimer() }}</p>
			}
			<p class="game-state">Game state: {{ tempGameString() }}</p>
			@if (isQuestionPhase(phase) && isParticipantPlayer(game().players, thisParticipant())) {
				<mat-form-field hidden="!isQuestionPhase(phase)">
					<mat-label>Guess:</mat-label>
					<input matInput
						#guessField="ngModel"
						placeholder="Guess"
						inputmode="numeric"
						pattern="[1-9][0-9]*"
						guessValidator
						[(ngModel)]="guess" />
					<mat-error>Guess must be a positive integer.</mat-error>
				</mat-form-field>
			}
			@if (isBettingPhase(phase)) {
				<mat-form-field>
					<mat-label>Target:</mat-label>
					<input matInput
						#targetField="ngModel"
						placeholder="Target"
						type="text"
						[targetValidator]="phase.guesses.length"
						[(ngModel)]="target" />
					<mat-error>Target must be "Red", "Black", "AllTooHigh", or 0-{{ phase.guesses.length-1 }}.</mat-error>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Wager:</mat-label>
					<input matInput
						#wagerField="ngModel"
						placeholder="Wager"
						inputmode="numeric"
						[chipValidator]="availableChips()"
						[(ngModel)]="wager" />
					@if (wagerField.hasError("insufficientChips")) {
						<mat-error>Insufficient chips. {{ availableChips() }} chips available.</mat-error>
					} @else {
						<mat-error>Wager must be a positive integer.</mat-error>
					}
				</mat-form-field>
			}
		</mat-card-content>
		<mat-card-actions>
			@if (isQuestionPhase(phase) && isParticipantPlayer(game().players, thisParticipant())) {
				<button mat-raised-button
						(click)="onSubmitGuess()"
						[disabled]="!guessField()?.valid"
						style="margin-right: 8px">
					Submit Guess
				</button>
			}
			@if (isBettingPhase(phase)) {
				<button mat-raised-button
						(click)="onSubmitBet()"
						[disabled]="!targetField()?.valid || !wagerField()?.valid"
						style="margin-right: 8px">
					Submit Bet
				</button>
				<button mat-raised-button
						(click)="onWithdrawBet()"
						[disabled]="!targetField()?.valid"
						style="margin-right: 8px">
					Withdraw Bet
				</button>
			}
			@if (!isGameOverPhase(phase) && game().host === thisParticipant().publicId) {
				<button mat-raised-button
						(click)="onEndPhase()"
						style="margin-right: 8px">
					End Phase
				</button>
			}
		</mat-card-actions>
	</mat-card>
</div>
