:host {
	--icon-size: 22px;
}

.title {
	font-weight: 500;
	align-self: center;
}

.round-end {
	font-size: 16px;
	
	text-align: center;
}

.result-tables {
	justify-self: center;
	
	width: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.divider {
	margin: 0;
}
