<h1 mat-dialog-title class="title">Round Over!</h1>
<div mat-dialog-content class="round-end">
	<p>{{ intermission.questionInfo.question }}</p>
	<p><b>Answer:</b> {{ formatAnswer() }}</p>
	@if (intermission.outcome.type === "skipped") {
		<p>No one had any guesses? This round was skipped!</p>
	} @else {
		<p [innerHtml]="formatWinners(intermission.outcome.players.winners)"></p>
		<div class="result-tables">
			<results-table [type]="'players'" [players]="sortedResults(intermission.outcome.players)"></results-table>
			@if (spectators.length > 0) {
				<hr class="divider" />
				<results-table [type]="'spectators'" [players]="sortedResults(intermission.outcome.spectators)"></results-table>
			}
		</div>
	}
</div>
<div mat-dialog-actions>
	<button mat-raised-button mat-dialog-close color="primary">Close</button>
</div>
