.header {
	text-align: center;
}

.player-column {
	flex: 1;
}

.player {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	height: 50px;
}

.action-button {
	width: 40px;
	height: 40px;
	margin: 5px 5px 5px 0;
}

.spec-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.spacer {
	width: 25px;
}

.name {
	max-width: 190px;
	text-wrap-mode: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
