:host {
	--board-primary: #266e26;
	--board-secondary: darkgreen;
	--black-space: #222;
	--red-space: red;
	--green-space: darkgreen;
	
	/* Scale the board to take up 95% of the screen. */
	zoom: calc(min(
		95cqw/var(--board-width),
		95cqh/var(--board-height),
		1.5));
}

.board {
	position: relative;
	border: 15px solid var(--board-secondary);
	border-radius: 20px;
	background: var(--board-primary);
	padding: 5px 20px 20px 20px;
	
	display: grid;
	gap: 10px;
}

@media (min-aspect-ratio: 1/2) {
	.board {
		grid-template:
			"HD    HD    HD" 40px
			"SB    QS    QS" 70px
			"SB    G6    BK" 115px
			"SB    G5    BK" 115px
			"SB    G4    BK" 115px
			"SB    G3    . " 115px
			"SB    G2    RD" 115px
			"SB    G1    RD" 115px
			"SB    G0    RD" 115px
			"SB    ATH   . " 92px /
			110px 360px 96px;
	}
}

@media (max-aspect-ratio: 1/2) {
	.board {
		grid-template:
			"HD    HD" 40px
			"QS    QS" 70px
			"G6    BK" 115px
			"G5    BK" 115px
			"G4    BK" 115px
			"G3    . " 115px
			"G2    RD" 115px
			"G1    RD" 115px
			"G0    RD" 115px
			"ATH   . " 92px
			"SB    SB" auto /
			360px 96px;
	}
}

.header {
	display: grid;
	flex-direction: row;
	grid-area: HD;
	align-items: center;
	
	grid-template:
		"HOME  ROUND TIMER  HELP" /
		 13%   54%   22%    11%;
	
	color: white;
	font-size: 35px;
	
	margin-left: -15px;
	margin-right: -15px;
}

.home-button {
	grid-area: HOME;
	display: flex;
	align-items: center;
	justify-content: left;
}

.home-icon {
	width: 50px;
	height: 50px;
	font-size: 50px;
	color: white;
}

.round {
	grid-area: ROUND;
	text-align: left;
	white-space-collapse: preserve;
}

.timer {
	grid-area: TIMER;
	display: flex;
	align-items: center;
	justify-content: left;
}

.timer-icon {
	font-size: 40px;
	height: 40px;
	width: 40px;
	text-align: center;
}

.timer-text {
	text-align: left;
}

.help-button {
	grid-area: HELP;
	display: flex;
	align-items: center;
	justify-content: right;
	
	background: none;
	border: none;
	cursor: pointer;
	padding: 0px;
}

.help-icon {
	width: 50px;
	height: 50px;
	font-size: 50px;
	color: white;
}

.game-over {
	grid-column: 1 / span 5;
	text-align: center;
}

.question-box {
	grid-area: QS;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background: var(--board-secondary);
	border-radius: 9px;
}

.question {
	font-size: 20px;
	color: white;
	text-align: center;
}

.source {
	font-size: 14px;
	color: gray
}

.all-too-high-box {
	grid-area: ATH;
}

.all-too-high-text {
	color: white;
	font-size: 22px;
	user-select: none;
	
	text-shadow:
		1px 1px black,
		1px -1px black,
		-1px 1px black,
		-1px -1px black;
}

.guess0-box {
	grid-area: G0;
}

.guess1-box {
	grid-area: G1;
}

.guess2-box {
	grid-area: G2;
}

.guess3-box {
	grid-area: G3;
}

.guess4-box {
	grid-area: G4;
}

.guess5-box {
	grid-area: G5;
}

.guess6-box {
	grid-area: G6;
}

.red-box {
	grid-area: RD;
}

.black-box {
	grid-area: BK;
}

.payoff {
	writing-mode: sideways-lr;
	font-size: 18pt;
	color: white;
	white-space: preserve;
	user-select: none;
	
	display: flex;
	align-items: center;
	
	text-shadow:
		1px 1px black,
		1px -1px black,
		-1px 1px black,
		-1px -1px black;
}

.payoff-to {
	font-size: 14pt;
	font-variant: petite-caps;
}

.score-board {
	grid-area: SB;
	min-height: 133px;
	
	background: var(--green-space);
	border-radius: 9px;
}

.guess-card {
	align-self: center;
	justify-self: center;
}

.guess-card2 {
	position: absolute;
	top: 50%;
	left: 50%;
}

.game-state {
	background: #eee;
	padding: 1rem;
	font-family: monospace;
	word-break: auto-phrase;
	white-space: preserve nowrap;
	text-align: start;
	overflow-x: scroll;
}
