<form [formGroup]="options" (ngSubmit)="createLobby()">
	<mat-card style="max-width: 400px;">
		<mat-card-header>
			<h1>Host Game</h1>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field class="title">
				<mat-label>Title</mat-label>
				<input matInput
					placeholder="Game Name"
					formControlName="title" />
			</mat-form-field>
			<mat-form-field class="question-sets">
				<mat-label>Question Set</mat-label>
				<mat-select formControlName="questionSets" multiple>
					@for (questionSet of questionSets(); track $index) {
						<mat-option [value]="questionSet.id">{{ questionSet.name }} ({{ questionSet.size }} questions)</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Maximum Number of Players</mat-label>
				<mat-select formControlName="numberOfPlayers">
					@for (number of [1, 2, 3, 4, 5, 6, 7]; track $index) {
						<mat-option [value]="number">{{ number }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Number of Rounds</mat-label>
				<input matInput
					placeholder="Number of Rounds"
					inputmode="numeric"
					pattern="[1-9][0-9]*"
					formControlName="numberOfRounds"
					[errorStateMatcher]="numRoundsMatcher" />
				@if (options.hasError("NotEnoughQuestionsInSet")) {
					<mat-error>Not enough questions in set.</mat-error>
				}
				@if (options.hasError("RoundsMustBePositive")) {
					<mat-error>Must be a greater than 0.</mat-error>
				}
			</mat-form-field>
			<mat-checkbox formControlName="endQuestionPhaseWhenAllGuessesSubmitted">
				Automatically end question round when all players have submitted questions.
			</mat-checkbox>
			<mat-form-field>
				<mat-label>Time for Question (seconds)</mat-label>
				<input matInput
					placeholder="Question Time"
					inputmode="numeric"
					pattern="[1-9][0-9]*"
					formControlName="questionTime" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Time for Betting (seconds)</mat-label>
				<input matInput
					placeholder="Betting Time"
					inputmode="numeric"
					pattern="[1-9][0-9]*"
					formControlName="bettingTime" />
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button type="submit" [disabled]="!options.valid">Host Game</button>
		</mat-card-actions>
	</mat-card>
</form>
