.wager-box {
	position: relative;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 5px solid white;
	border-radius: 9px;
	outline: 3px solid black;
	margin: 5px;
	z-index: 0;
}
	
.guess-card {
	position: absolute;
	width: 83%;
	height: 14%;
	top: 40%;
	left: 3%;
	border: 5px solid;
	border-radius: 8px;
	background-color: white;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.guess-value {
	user-select: none;
}

.payoff {
	position: absolute;
	bottom: 1%;
	left: 0%;
	width: 100%;
	vertical-align: middle;
	z-index: -1;
	
	font-size: 18pt;
	color: white;
	white-space: preserve;
	user-select: none;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.payoff-to {
	font-size: 14pt;
	font-variant: petite-caps;
}
