<div class="wager-box">
	<ng-content />
	<span class="bg-text">
		<ng-content select="wager-box-bg-text" />
	</span>
	@for (bet of betsOnBoard().entries(); track $index) {
		@if (bet) {
			@if (bet.color) {
				<betting-chip class="chip" [value]="bet.value" [color]="bet.color" [style.inset]="chipPositions()[$index]" />
			} @else {
				<spectator-chip class="chip" [value]="bet.value" [name]="bet.name" [style.inset]="chipPositions()[$index]" />
			}
		}
	}
	<span class="bottom-text">
		<ng-content select="wager-box-bottom-text" />
	</span>
</div>
