@let guessVal = guess();
<div class="wager-box"
	[style.--background-color]="color()"
	[class.enabled]="!isDisabled()"
	(click)="click()">
	@if (guessVal !== undefined) {
		<div class="guess-card" [style.border-color]="guessVal.color">
			<span class="guess-value" [fittext]="true" [modelToWatch]="guessVal">
				{{ guessVal.value }}
			</span>
		</div>
	}
	@for (bet of bets(); track bet.color) {
		<betting-chip [value]="bet.value" [color]="bet.color" [style.inset]="chipPositions()[$index]" />
	}
	<span class="payoff">{{ payoff() }} <span class="payoff-to">to</span> 1</span>
</div>
