:host {
	--current-bg-color: var(--bg-color);
}

:host.enabled {
	cursor: pointer;
}

:host.enabled:hover {
	--current-bg-color: lch(from var(--bg-color) calc(l + 12) c h);
}

.wager-box {
	position: relative;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	z-index: 0;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	border: 5px solid white;
	border-radius: 9px;
	outline: 3px solid black;
	margin: 5px;
	
	background-image: linear-gradient(
		160deg,
		lch(from var(--current-bg-color) calc(l + 10) c h),
		lch(from var(--current-bg-color) calc(l - 10) c h));
}

.bottom-text {
	position: absolute;
	bottom: 1%;
	left: 0%;
	width: 100%;
	vertical-align: middle;
	z-index: -1;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
