:host {
	--current-bg-color: var(--bg-color);
}

:host.enabled {
	cursor: pointer;
}

@media (hover: hover) {
	:host.enabled:hover {
		--current-bg-color: lch(from var(--bg-color) calc(l + 12) c h);
	}
}

.wager-box {
	position: relative;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	z-index: 0;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	border: 5px solid white;
	border-radius: 9px;
	outline: 3px solid black;
	
	container-type: size;
	
	background-image: linear-gradient(
		160deg,
		lch(from var(--current-bg-color) calc(l + 10) c h),
		lch(from var(--current-bg-color) calc(l - 10) c h));
}

.bottom-text {
	position: absolute;
	z-index: -1;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

@container (orientation: portrait) {
	.bg-text {
		writing-mode: sideways-lr;
	}
	
	.bottom-text {
		bottom: 1%;
		left: 0%;
		width: 100%;
		writing-mode: horizontal-tb;
	}
}

@container (orientation: landscape) {
	.bg-text {
		writing-mode: horizontal-tb;
	}
	
	.bottom-text {
		right: 1%;
		top: 0%;
		height: 100%;
		writing-mode: sideways-lr;
	}
}

.chip {
	position: absolute;
}
