.main {
	/* width: 100vw; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	box-sizing: inherit;
	position: relative;
	background-color: #3c3c3c;
}

.navbar {
	font-size: 24px;
	color: white;
}
