.main {
	height: 100svh;
	width: 100svw;
	/* Prevent the vertical scroll bar from causing horizontal overflow. */
	max-width: 100%;
	
	container-type: size;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
