<div class="bet-chip">
	<div class="bet-chip-inner">
		<span class="bet-quantity" [fittext]="true" [modelToWatch]="value" [maxFontSize]="22">
			{{ value() }}
		</span>
	</div>
	<svg class="name" viewBox="0 0 100 100">
		<path id="curve1" fill="transparent" d="M 20 50 A 30 30 0 0 1 80 50" />
		<text>
			<textPath startOffset="50%" dominant-baseline="ideographic" text-anchor="middle" xlink:href="#curve1">
				{{ getAbbrName() }}
			</textPath>
		</text>
	</svg>
	<svg class="name" viewBox="0 0 100 100">
		<path id="curve2" fill="transparent" d="M 20 50 A 30 30 0 0 0 80 50" />
		<text>
			<textPath startOffset="50%" dominant-baseline="hanging" text-anchor="middle" xlink:href="#curve2">
				{{ getAbbrName() }}
			</textPath>
		</text>
	</svg>
</div>
